/{
    margin-left:2%;
    margin-top: 3%;
    padding: 0;
    box-sizing: border-box;
   background-color: beige;
}/*
.halwai-image img{
    height: 500px;
    width: 400px;
border-right:solid 50px black;
border-bottom:solid 50px black;
border-left: solid 50px rgb(233, 233, 13);
border-top: solid 50px rgb(233, 233, 13);
}

.halwai-image h2{
    font-size: ;
    text-align:right;

}
*/

.container {
    display: flex;
    background-color: #b1aa7e;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 700px;
    padding: 20px;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    height: 500px;
    width: 400px;

}

.details-container {
    flex: 2;
    padding: 20px;
}

.name {
    font-size: 100px;
    font-weight: bold;
}

.label {
    font-weight: bold;
    font-size: 30px;
}

.value {
    margin-bottom: 10px;
    font-size: 25px;
}